.prose a.button.button--block {
  color:#FFF !important;
  text-decoration: none !important;
}

.media-gallery__item-thumbnail:has(img:not([alt]))::after {
  content: '⚠️ No image description';
  background: maroon;
  color: mistyrose;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.media-gallery__item-thumbnail:focus:has(img:not([alt]))::after,
.media-gallery__item-thumbnail:hover:has(img:not([alt]))::after {
  display: none;
}

@supports not selector(:has(*)) {
  .media-gallery__item-thumbnail img:not([alt]),
  .audio-player__canvas:not([title]),
  .video-player video:not([title]), 
  .media-gallery__gifv video:not([title]) {
    border: 2px dashed red;
    box-sizing: border-box;
  }
}
