<h1 id="about">Welcome to Jawns.club</h1>

This server was created to have an online space that represents the feeling of your favorite Philadelphia neighborhoods.

If you live in the Greater Philadelphia Area, or are "Philadelphia identifying" (aka someone who loves this city, previously lived here and wants to stay plugged into the community, or is thinking about moving to Philly and wants to meet people before you arrive), you're welcome here!

Note: this code of conduct, like all things, is a work in progress. Improvements and suggestions that make our community more inclusive are warmly welcomed via email to jawns@indyhall.org.

<h2 id="donate">This server is member supported</h2>

This server - like most Mastodon servers - is fully independent (no outside ownership) and funded by our community.

We operate a [transparent budget](https://opencollective.com/jawnsclub#category-BUDGET) through Open Collective. Our primary expense is our hosting cost, which is variable and tends to grow over time and with more active participation. 

If you want to support this server, consider making a [recurring donation](https://opencollective.com/jawnsclub#category-CONTRIBUTE). Official jawns.club merch is coming soon, too!

<h2 id="jawns">What does "jawn" mean?</h2>
Jawn is a regional slang with AAVE origins. It's [Philadelphia's all-purpose noun](https://www.atlasobscura.com/articles/the-enduring-mystery-of-jawn-philadelphias-allpurpose-noun). We'll let the one and only Questlove explain what it means and how to use it correctly!

<iframe width="560" height="315" src="https://www.youtube.com/embed/8t1GvpqyxwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h2 id="emojis">Emojis</h2>

Our server has a selection of Philly-specific emoji that you can use! Checkout our [Official Emoji List](https://emojos.in/jawns.club).

Suggest an emoji by sending a png or gif image under 50kb to @alexhillman@jawns.club, with a one word description. We cannot guarantee we'll add every emoji, but most are approved.

* * *

<h1 id="coc">Our code of conduct</h1>

As a resident (member) of jawns.club, you agree to uphold an environment of respect and consideration for all users.

Any conduct that is deemed hateful or oppressive is grounds for removal from jawns.club. Any language or action that expresses, reinforces, upholds or sympathizes with any form of systemic social domination is considered oppressive and is grounds for removal at any level deemed appropriate by the admins.

<h2 id="expectations">Membership & Invitation Expectations</h2>

If you live in the Greater Philadelphia Area, or are "Philadelphia identifying" (aka someone who loves this city, previously lived here and wants to stay plugged into the community, or is thinking about moving to Philly and wants to meet people before you arrive), you're welcome here!

jawns.club is semi-open, meaning that you do need an invitation to join but any member can invite people and anybody can request for an invitation. This small barrier helps us set expectations and keep jawns.club inviting and inclusive.

<h2 id="etiquette">Recommended Etiquette</h2>

We have provided some guidelines and recommendations for joining and participating in our community. Please keep in mind that these guidelines are designed to encourage positive and supportive interactions within jawns.club, _not_ to restrict behavior.

Community members are encouraged to share and recommend these best practices to their fellow community members by posting to your own timeline, especially when someone joins on your invite.

### Tip #1: 🗣 Introduce yourself!
Once you've had some time to get the lay of the land, it's a great idea to write a quick #introduction (and include that hashtag so others can find it). Bonus points for sharing something about Philly in your intro, like a fav place/thing to do/etc.

### Tip #2: ❤️ Before you promote, participate!
It's super cool to share the stuff you're working on, invite people to events, ask for help, share work opportunities/gigs, etc.

_But please try not to make these your first or only posts!_

You can join in the conversation, say hello, make an introduction post, even share _other_ people's stuff. All of these things will help you build connections and earn trust.

People are way more likely to pay attention to (and boost/click/share) the stuff you share if they recognize you!

In general, promoting stuff is good. It's how we learn what's going on, and help each other. If you're active in the community and sharing something you think others might like, you don't have to worry. Drive-by promotion doesn't help the community, so please try to avoid it.

If you see individuals, businesses, or brands promoting without participating, please report their posts so we can guide their approach to participating in our server.

### Tip #3: 🚨 Consider using "Content Warnings"
One of our goals with jawns.club is to create a space where we are not overwhelmed by reactivity, or are bombarded by the 24 hour news cycle. One of the tools we have for doing that is using the built in "[content warning](https://docs.joinmastodon.org/user/posting/#cw)" option when posting to our server.

**In 99% of cases on jawns.club content Content Warnings are a tool, not a policy.** We do NOT wish to restrict our members sharing their lived experiences, which may include their own work, personal experiences, and interactions with negative things in the world.

But if you're sharing links, news, photos, and other 3rd party sources that fall under the categories below, you can think of Content Warnings as a way to proactively let fellow jawns.club members "opt-in" to reading your post:

*   Politics (local or national)
*   Graphic violence, gore, or self-harm
*   Sexual content, adult themes or nudity
*   Spoilers for TV, movies, books, video games, and other popular media
*   Flashing video/gifs
*   Discussions surrounding hate topics including racism, sexism, homophobia, transphobia, antisemitism, etc. Remember that these _behaviors_ are strictly not welcome on this server, but discussion about their occurrences are allowed.

Also note that if there is a topic that is allowed by our Code of Conduct, but you do not wish to see on your timeline for any reason, you are encouraged to use the built in [filters feature](https://jawns.club/filters) on your account.

### Tip #4: Describe your images (and other media)
Blind and partially sighted users use screen readers to interact with Mastodon / the Fediverse, and [image descriptions](https://scribe.rip/how-to-write-an-image-description-2f30d3bf5546) help them enjoy the content of any shared media that is not already textual. Deaf and hard of hearing people could also use descriptions or transcriptions of sound clips. Please help us improve accessibility for all by describing your images, audio, video, and GIFs.

Many people prefer to boost posts with image descriptions, so [adding image descriptions](https://edtechfactotum.com/adding-alt-text-and-more-to-images-in-mastodon/) may increase how many people see your posts, as well as helping people who literally cannot see your posts 😉

<h2 id="nofly">No Fly Zone:</h2>

jawns.club is moderated by human beings, which means we rely on our community to help us find and identify content and accounts that are not allowed on our server.

Please use the [report feature](https://docs.joinmastodon.org/user/moderating/#report) to help us quickly address posts and accounts that should be removed.

### The following types of content will be removed from the public timeline, and may result in an immediate ban from jawns.club:

*   All forms of hate and the advocacy of hate, including but not limited to Racism, Sexism, Misogyny, Homophobia, Transphobia, Xenophobia, Nationalism, and antisemitism.
*   Trolling and/or personal attacks
*   Intentional misinformation
*   Untagged pornography and content that depicts sex acts
*   Crypto, gambling, scams, or MLMs
*   Unapproved bots (for approval, please contact the admins)
*   Plagiarism, including posting other people's work/photos/art without credit.

### The following types of content are explicitly disallowed and will result in an immediate ban from jawns.club:

*   Sexual depictions of children
*   Holocaust denial or Nazi symbolism
*   Conduct promoting the ideology of fascism/radical nationalism
*   Promoting the oppression of any group based on gender, gender identity and expression, sexual orientation, disability, personal appearance, body size, race, ethnicity, age, religion, nationality, class, or other identity\*

\* Any conduct intended to stalk, harass, or intimidate other users, or to impede other users from utilizing the service, or to degrade the performance of the service, or to harass other users, or to incite other users to perform any of the aforementioned actions is forbidden and subject to punishment up to and including a ban from jawns.club.

### This can include, but is not limited to, the following behaviors:

*   Continuing to engage in conversation with a user that has specifically requested for said engagement to cease may be considered harassment, regardless of platform-specific privacy tools employed.
*   Aggregating, posting, and/or disseminating a person's demographic, personal, or private data without express permission.
*   Inciting users to engage another user in continued interaction or discussion after a user has requested for said engagement with that user to cease and desist may be considered harassment.
*   Posting and/or disseminating a person's posts ("toots"), including screen captures or any other content without express permission.
*   Intentionally posting or disseminating libel, slander, or other disinformation.

This Code of Conduct applies both to content on jawns.club and to public spaces when an individual is representing jawns.club or its community.

Reports of abusive, harassing, or otherwise unacceptable behavior may be made by using the report button. All reports will be reviewed and dealt with as soon as possible. Admins are obligated to maintain confidentiality with regard to the reporter of an incident.

The admins reserves the right to revoke any user's content on or access to jawns.club, at any time, for any reason.

No creepy crawlies (robot.txt set to disallow).

No secret crypto mining operations (yes, that's a thing people do now).

---

_Our original code of conduct was heavily inspired by/borrowed from the talented mods at [kitty.town](https://kitty.town), and [our most recent changes/updates are tracked publicly](https://codeberg.org/jawns-club/text)._